In [ ]:
import kagglehub
from kagglehub import KaggleDatasetAdapter

file_path = "XAU_1m_data.csv"

df = kagglehub.load_dataset(
  KaggleDatasetAdapter.PANDAS,
  "novandraanugrah/xauusd-gold-price-historical-data-2004-2024",
  file_path,
)

print("First 5 records:", df.head())

/home/duc/gold_data_project/.venv/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
/tmp/ipykernel_62010/969542243.py:6: DeprecationWarning: Use dataset_load() instead of load_dataset(). load_dataset() will be removed in a future version.
  df = kagglehub.load_dataset(

First 5 records:               Date;Open;High;Low;Close;Volume
0        2004.06.11 07:18;384;384.1;384;384;3
1      2004.06.11 07:23;384.1;384.1;384;384;2
2  2004.06.11 07:24;383.8;383.8;383.8;383.8;1
3  2004.06.11 07:25;383.8;384.3;383.8;384.3;3
4  2004.06.11 07:27;383.8;383.8;383.8;383.8;1

In [2]:
df.info

<bound method DataFrame.info of                            Date;Open;High;Low;Close;Volume
0                     2004.06.11 07:18;384;384.1;384;384;3
1                   2004.06.11 07:23;384.1;384.1;384;384;2
2               2004.06.11 07:24;383.8;383.8;383.8;383.8;1
3               2004.06.11 07:25;383.8;384.3;383.8;384.3;3
4               2004.06.11 07:27;383.8;383.8;383.8;383.8;1
...                                                    ...
6600525  2025.10.01 05:25;3865.21;3866.46;3864.68;3865....
6600526  2025.10.01 05:26;3865.66;3867.09;3865.66;3866....
6600527  2025.10.01 05:27;3866.31;3867.43;3866.27;3867....
6600528  2025.10.01 05:28;3867.2;3867.75;3865.72;3865.8...
6600529  2025.10.01 05:29;3865.83;3866.58;3865.37;3866....

[6600530 rows x 1 columns]>

In [3]:
df.to_csv("/home/duc/gold_data_project/data/gold_data.csv",index=False)

In [1]:
import pandas as pd

In [2]:
pd.read_csv("/home/duc/gold_data_project/data/gold_data_metatrader5.csv")

        <DATE>\t<TIME>\t<OPEN>\t<HIGH>\t<LOW>\t<CLOSE>\t<TICKVOL>\t<VOL>\t<SPREAD>
0        2014.01.14\t00:00:00\t1253.967\t1255.028\t1241...
1        2014.01.15\t00:00:00\t1243.300\t1243.919\t1234...
2        2014.01.16\t00:00:00\t1240.921\t1245.040\t1236...
3        2014.01.17\t00:00:00\t1241.983\t1254.789\t1237...
4        2014.01.19\t00:00:00\t1253.814\t1260.701\t1251...
...                                                    ...
2978755  2025.10.09\t04:09:00\t4028.726\t4029.664\t4027...
2978756  2025.10.09\t04:10:00\t4029.480\t4029.708\t4028...
2978757  2025.10.09\t04:11:00\t4029.397\t4029.877\t4028...
2978758  2025.10.09\t04:12:00\t4029.269\t4032.613\t4029...
2978759  2025.10.09\t04:13:00\t4032.336\t4032.677\t4031...

[2978760 rows x 1 columns]

In [5]:
import sys
import os
sys.path.append(os.path.abspath(os.path.join(os.path.dirname(""), '../../')))
from src.etl.extract.historical_metatrader_extract import HistoricalMetatraderExtract
extractor = HistoricalMetatraderExtract()
df = extractor.historical_extract()
print('Tên cột:', df.columns.tolist())
print('Kiểu dữ liệu các cột:', df.dtypes)
print('5 dòng đầu tiên:', df.head())

2025-10-09 11:48:11,463 - MainProcess - INFO - Extract Historical Metatrader gold data - Successfully to read config
2025-10-09 11:48:11,464 - MainProcess - INFO - Extract Historical Metatrader gold data - Downloading Metatrader data from Google Drive ...
2025-10-09 11:48:11,464 - MainProcess - INFO - Extract Historical Metatrader gold data - Downloading Metatrader data from Google Drive ...
2025-10-09 11:49:04,058 - MainProcess - INFO - Extract Historical Metatrader gold data - Extracted data successfully: 2978760 records
2025-10-09 11:49:04,058 - MainProcess - INFO - Extract Historical Metatrader gold data - Extracted data successfully: 2978760 records

Tên cột: ['date', 'time', 'open', 'high', 'low', 'close', 'tickvol', 'vol', 'spread']
Kiểu dữ liệu các cột: date        object
time        object
open       float64
high       float64
low        float64
close      float64
tickvol      int64
vol          int64
spread       int64
dtype: object
5 dòng đầu tiên:          date      time      open      high       low     close  tickvol  vol  \
0  2014.01.14  00:00:00  1253.967  1255.028  1241.646  1243.309    68832    0
1  2014.01.15  00:00:00  1243.300  1243.919  1234.216  1240.926    78349    0
2  2014.01.16  00:00:00  1240.921  1245.040  1236.312  1241.981    72621    0
3  2014.01.17  00:00:00  1241.983  1254.789  1237.708  1253.669    76228    0
4  2014.01.19  00:00:00  1253.814  1260.701  1251.230  1256.148     3730    0

   spread
0       0
1       0
2       0
3       0
4       0